<!DOCTYPE html>
<html>
<head>
  <title>Personal Finance</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/views.css'/>
</head>
<body>
  <!-- <div class="container">
    <div class="container"> -->

      <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/index">Personal Finance</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/index">Home</a></li>
              <li><a href="archives">Archives</a></li>
              <li><a href="/new">New Blog Post</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/sign"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </nav>

      </div>
      <div class="row">
        <div class="jumbotron">
          <center><h1>Personal Finance</h1></center>

        </div>
      </div>

      <div class="row">
            <div class=" col-lg-12">
              <div class="panel panel-primary">

                <div class="panel-heading">
                <center>     <h3 class="panel-title"><h3><%= posts.title %></h3></h3></center>
                </div>

                <div class="panel-body">
                <center>  <img src="<%=posts.image %>" alt=""width="100%" height=""></center>
                  <p> <%-posts.content %></p>

              <a href="/delete/<%= posts.id %>"><button type="button" class="btn btn-primary">Delete</button></a>
                <a href="/updates/<%= posts.id %>"><button type="button" class="btn btn-primary">Edit</button></a>

                </div>
                <div class="panel-footer">
                  <p>Author: <%= posts.Author %></p>
                  <p>Date: <%= posts.date %></p>
                </div>
              </div>
            </div>

            </div>
          </body>
          </html>
